<div class="sidenav">
  <app-side-panel [title]="'Map Control Panel'">
    <div #geocodercontainer mat-list-item class="geocodercontainer"></div>
    <div mat-list-item>
      <input class="annotation" type="text"
             #annotation="ngModel"
             id="annotation"
             name="annotation"
             placeholder="enter annotation"
             [(ngModel)]="annotationVal">
    </div>
    <div mat-list-item>
      <ng-select #annotations="ngModel"
                 id="annotations"
                 name="annotations"
                 [(ngModel)]="annotationModel"
                 (change)="handleSelectChange($event)"
                 bindLabel="name"
                 bindId="id"
                 [items]="annotations$ | async"
                 [addTag]="false"
                 [multiple]="false"
                 [hideSelected]="true"
                 appendTo="body">
      </ng-select>
    </div>
  </app-side-panel>
</div>
<section class="content">
  <mgl-map #mapContainer [center]="initialCenter" [zoom]="[initialZoom]" (mapLoad)="loadMap($event)"
           [style]="'mapbox://styles/mapbox/streets-v9'"
           (moveEnd)="updateMap($event)">
    <mgl-marker *ngFor="let feature of (geoJSON$ | async)?.features" [feature]="feature">
      <div (click)="markerClick(feature)">
        <img width="20" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Map_marker.svg/780px-Map_marker.svg.png" />
      </div>
    </mgl-marker>
  </mgl-map>
</section>
